body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.gridMax {
  display: grid;
  grid-template-columns:  auto fit-content(100%);
  height: 100vh;
}

.grid4 {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 50px;
}

.canvas {
  overflow-x: scroll;
  border : 2px solid black
}

.flexBetween {
  display: flex;
  justify-content: space-between;
  padding:  25px 0;
}

.titleBoard {
  margin-top: 30px;
  font-size: 25px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  color: #696969;
  text-shadow: grey 1px 0 10px;
}

.titleBoardPage{
  color: rgb(122, 60, 2);
  margin-top: -60px;
  font-size: 30px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  font-style: italic;
}

.flexAround {
  display: flex;
  justify-content: space-around;
  padding:  25px 0;
  flex-wrap: wrap;
}

@media (max-width: 1200px) {
  .grid4 {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (max-width: 992px) {
  .grid4 {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 575px) {
  .grid4 {
    grid-template-columns: repeat(1, 1fr);
  }
}
.titre{
  font-size: 25px;
  margin-bottom: 20px;
  font-weight: normal;
  text-shadow: rgba(167, 220, 232, 0.84) 1px 0 10px;

}
.icon{
  font-size: 48px;
  margin-bottom: 20px;
  margin-right: 10px;

}
.iconbtn{
  font-size: 25px;
}
.iconuser{
  margin-bottom: 10px;
  font-size: 25px;
  margin-right: 5px;
}
.logout{
  background-color: rgb(50, 128, 218);
  width: 100px;
  margin-left: 20px;
  text-align: center;
  border-radius: 10px;
}
#btn{
  color: white;
}
.logo{
  width: 300px;
  margin-bottom: -50px;
  margin-top:-50px;
}
.bodycard{
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
.infos{
  margin-left: 30%;
  line-height: 2em;
  font-size: 20px;

}
.proprietes{
  border: thick double darkblue;
  padding: 15px 15px 15px 15px;
}